<%include ../partials/header%>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">Northwinds Database</h1>
        <p class="lead">Web application for Northwind database management</p>
        <hr class="my-2">
        <p>More info</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/" role="button">Let's get started</a>
        </p>
    </div>
</div>
<%include ../partials/footer%>
<script>
    $("#navlink_home").addClass("active");
</script>